* {
    border: 0px solid rgb(70, 209, 107);
    box-sizing: border-box;
    background: rgb(18, 23, 2);
    font-family: 'optima', sans-serif;
    color: aliceblue;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh
}



.display,
.main-container {
    margin: 0% 15%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display {
    margin-top: 5%;
    height: 15%;
    background: rgb(173, 122, 3);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 150%;
    font-weight: 600;
}

.main-container {
    justify-content: space-around;
}



.digit-container, 
.operator-container{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 3%;
    width: 40%;
}



button {
    margin: 0px;
    padding: 0px;
}

.main-button {
    width: 35%;
    height: 0;
    padding-top: 15%;
    padding-bottom: 15%;
    border-radius: 20px;
    margin-bottom: 1%;
    background: rgba(178, 166, 0, 0.477);

    font-size: 250%;
    font-weight: 600;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(229, 255, 0, 0.672);
    
}

#equal {
    width: 76%;
    font-size: 400%;
}

#clear {
    width: 76%;
}

